body {
    max-width: 1000px;
    margin: 0 auto 20px;
}

.comment {
    margin: 10px;
    background-color: rgb(245, 242, 242);
    border: 1px solid rgb(221, 220, 220);
    padding: 10px;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

.comment-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 10px 0;
}

.number-and-name {
    display: flex;
    flex-direction: row;
}

.name {
    margin-left: 5px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  #pagination {
    margin: 10px;
    text-align: center;
  }

  .page {
    margin: 0 2px;
  }