:root {
    --black: rgba(36, 41, 44, 1);
    --blue: rgba(0, 166, 237, 1);
    --grey: rgba(221, 231, 236, 1);
}

body {
    margin: 0;
    font-size: 16px;
    min-width: 1400px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

/* header style */
.header__bg {
    background: var(--black);
}

.header__container {
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 64px;
    min-width: 1200px;
    margin: auto;
    align-items: center;
}

.logo__box {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: space-around;
}

.logo__box>span {
    font-size: 1.2rem;
}

.logo {
    height: 50px;
    margin-left: 1rem;
}

.header__list {
    font-size: 1rem;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.header__list li:hover {
    color: var(--blue);
}

.header__list>li {
    list-style: none;
    display: flex;
    position: relative;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
}

li:hover::after {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--blue);
    display: block;
    bottom: 0;
    position: absolute;
}

.account__data {
    font-size: 1rem;
    display: flex;
    width: 15%;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

/* application style */

.app__bg {
    background: rgba(244, 247, 249, 1);
}

.update__box {
    height: 40px;
    width: 10%;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--grey);
}

.applications,
.table__container {
    width: 70%;
    margin: auto;
    color: #0C1116;
   }

.table__container {
padding-bottom: 50px;
}

.application__title {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.application__title p {
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 24px;
    border: 1px solid var(--grey);
    font-size: 0.85rem;
    width: 100%;
    margin-bottom: 50px;
   }

table tr th,
table tr td {
       border-bottom: 1px solid var(--grey);
  padding: 5px;
}

tr th:nth-child(1) {
    width: 14%;
}

tr th:nth-child(2) {
    width: 25%;
}

tr th:nth-child(3) {
    width: 10%;
}

tr th:nth-child(4) {
    width: 20%;
}

tr th:nth-child(5) {
    width: 9%;
}

tr th:nth-child(6) {
    width: 19%;
}

tr th:nth-child(7) {
    width: 3%;
}

tr td:first-child {
    text-align: right;
}

tr td:nth-child(5) {
    text-align: right;
}

thead {
    background-color: rgba(248, 251, 252, 1);
    align-items: center;
    height: 87px;
}

tbody {
    background-color: rgba(255, 255, 255, 1);
}

input {
    border-radius: 8px;
    height: 32px;
    color: rgba(149, 180, 193, 1);
    border: 1px solid var(--grey);
    width: 100%;
    box-shadow: 0px 2px 5px var(--grey);
}

.search_icon {
    background-image: url(../img/icon__search.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: top 50% left 2%;
    padding-left: 18px;
}

.arrow_icon {
    position: relative;
}

.arrow_pr {
    position: absolute;
    top: 3px;
}

table tr:first-child th:first-child {
    border-top-left-radius: 25px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 25px;
}

tfoot tr:last-child td:first-child {
    border-bottom-left-radius: 25px;
}

tfoot tr:last-child td:last-child {
    border-bottom-right-radius: 25px;
}

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="rgba(149, 180, 193, 1)" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

tfoot {
    height: 87px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.first__pages {
    text-align: left;
}

.first__pages>div {
    display: inline-block;
    border-radius: 8px;
    height: 32px;
    width: 32px;
}

tfoot a {
    display: inline-block;
    margin: 8px 10px;
}

.first__pages div:hover {
    background-color: var(--blue);
    color: white;
}

tfoot select {
    width: 52px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid var(--grey);
}

 .add__menubox {
    display: none;
    text-align: left;
    background-color: white;
    width: 192px;
    height: 172px;
    border: 1px solid white;
    border-radius: 24px;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    position: absolute;
    top: 70%; right: 5%;
}

.addmenu__icons {
    margin: 8px;
    }

    table:hover .add__menubox{
        display: flex;
    }

    .add__menu:hover {
       color: rgba(45, 156, 219, 1);
    }

    tr:hover {
        background-color: rgba(243, 247, 249, 1);
    }

    .yellow {
        color: rgba(242, 201, 76, 1);
    }

    .blue {
        color: rgba(45, 156, 219, 1);
    }

    .green {
        color: rgba(39, 174, 96, 1);
    }

    .red {
        color: rgba(235, 87, 87, 1);
    }