body {
    width: 400px;
    margin: 0 auto;
    font-size: 1.5rem;
    padding-top: 20px;
}

#task {
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    display: inline-block;
    margin: 0 10px;
}

input {
    border: solid 2px;
    border-radius: 5px;
    outline: 0;
    font-size: 1.5rem;
    margin-top: 0;
    text-align: center;
}

span {
    margin: 5px;
    text-align: center;
}
.focusClass {
    border-color: green;
}

.greenBackground {
background-color: rgb(158, 219, 158);
}

.redBorder {
    border-color: red;
}

.buttonUnvisible {
    display: none;
}

.buttonVisible {
    display: inline;
}

.wrongPrice {
    display: block;
}