:root {
    font-size: 20px;
    --white: rgba(255, 252, 252, 1);
    font-family: 'Rosario', sans-serif;
}

body {
    margin: 0;
    min-width: 1200px;
    font-style: italic;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    border: 1px solid white;
    box-sizing: border-box;
    overflow: hidden;
}

.header__container {
    height: 129px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.menu_icon {
    background-image: url(../img/menu-icon.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30%;
    right: 10%;
    opacity: 0;
}

.logo__bg {
    background-color: var(--white);
    height: 100%;
    display: inline-block;
}

.logo__bg>img {
    height: 100%;
    border-bottom: 1px solid var(--white);
}

.menu_container {
    width: 60%;
    display: flex;
    justify-content: end;
}

ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.9rem;
}

/* Styling first page */

.gallery {
    display: flex;
    flex-direction: row;
    margin: 30px 0.2rem 0.2rem 0.2rem;
    min-height: 100%;
    justify-content: space-around;
}

.left>div,
.right>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left,
.right {
    display: flex;
}

.gallery img {
    max-width: 90%;
    margin: 1rem;
}

.left_part,
.right_part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.left_partsecond,
.right_partsecond {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.left_part {
    animation: animation__1left 1s linear 1 forwards;
    position: relative;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes animation__1left {

    from,
    to {
        top: 0%;
        left: -20%;
        opacity: 1;
    }

    100% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
}

.right_part {
    animation: animation__1right 1s linear 1 forwards;
    position: relative;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes animation__1right {

    from,
    to {
        top: 0%;
        right: -20%;
        opacity: 1;
    }

    100% {
        top: 0%;
        right: 0%;
        opacity: 1;
    }
}

.left_partsecond {
    animation: animation__2left 1s linear 1;
    position: relative;
}

@keyframes animation__2left {

    from,
    to {
        top: 0%;
        left: -20%;
    }

    100% {
        top: 0%;
        left: 0%;
    }
}

.right_partsecond {
    animation: animation__2right 1s linear 1;
    position: relative;
}

@keyframes animation__2right {

    from,
    to {
        top: 0%;
        right: -20%;
    }

    100% {
        top: 0%;
        right: 0%;
    }
}

/* Styling second page */
.services {
    display: flex;
}

.services__list {
    width: 50%;
    margin-top: 10px;
    height: 100%;
    height: 100vh;
}

.services__bg {
    display: inline-block;
    width: 50%;
    height: 100vh;
    background-image: url(../img/services_rightpart.png);
    background-position-x: right;
    background-repeat: no-repeat;
}

.services__list>div {
    display: flex;
    justify-content: space-around;
    margin: 1rem 2rem 0 2rem;
    font-size: 2.5rem;
    flex-wrap: wrap;
    height: 90%;
    align-items: center;
}

.service__one,
.service__two,
.service__three,
.service__four {
    width: 35%;
}

.services__list img {
    width: 100%;
}

.services__list p {
    margin: -1rem -1rem 0 -1rem;
    text-align: center;
}

.service__one {
    animation: animation__service1 20s linear infinite;
    position: relative;
}

@keyframes animation__service1 {

    from,
    to {

        top: 0%;
        left: 0%;
    }

    25% {
        top: 0%;
        left: 50%;
    }

    50% {

        top: 50%;
        left: 50%;
    }

    75% {
        top: 50%;
        left: 0%;
    }

    100% {
        top: 0%;
        left: 0%;
    }
}

.service__two {
    animation: animation__service2 20s linear infinite;
    position: relative;
}

@keyframes animation__service2 {

    from,
    to {

        top: 0;
        left: 0%;
    }

    25% {
        top: 50%;
        left: 0%;
    }

    50% {

        top: 50%;
        left: -50%;
    }

    75% {
        top: 0;
        left: -50%;
    }

    100% {
        top: 0;
        left: 0%;
    }
}

.service__three {
    animation: animation__service3 20s linear infinite;
    position: relative;
}

@keyframes animation__service3 {

    from,
    to {

        top: 0;
        left: 0%;
    }

    25% {
        top: -50%;
        left: 00%;
    }

    50% {

        top: -50%;
        left: 50%;
    }

    75% {
        top: 0;
        left: 50%;
    }

    100% {
        top: 0;
        left: 0%;
    }
}

.service__four {
    animation: animation__service4 20s linear infinite;
    position: relative;
}

@keyframes animation__service4 {

    from,
    to {

        top: 0;
        left: 0%;
    }

    25% {
        top: 0;
        left: -50%;
    }

    50% {

        top: -50%;
        left: -50%;
    }

    75% {
        top: -50%;
        left: 0%;
    }

    100% {
        top: 0;
        left: 0%;
    }
}

/* Styling third page */

.team>p {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.photos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
    height: 671px;
}


.photos>div {
    background-color: black;
    display: flex;
    border-radius: 45px;
    align-items: center;
    width: 400px;
    overflow: hidden;
}

.photos img {
    width: 100%;
}


.photos:hover img {
    opacity: 0.5;
}

.photos>div:hover img {
    opacity: 1;
}

.expert_onebox {
    position: relative;
}

.expert_onebox:hover::after {
    content: 'Meredith';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9rem;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    height: 150px;
    background-color: rgba(163, 83, 10, 0.7);
    bottom: 0;
    position: absolute;
    transition: 1s;
}

.expert_twobox {
    position: relative;
}

.expert_twobox:hover::after {
    content: 'Jason';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9rem;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    height: 150px;
    background-color: rgba(163, 83, 10, 0.7);
    bottom: 0;
    position: absolute;
    transition: 1s;
}

.expert_threebox {
    position: relative;
}

.expert_threebox:hover::after {
    content: 'Ryan';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9rem;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    height: 150px;
    background-color: rgba(163, 83, 10, 0.7);
    bottom: 0;
    position: absolute;
    transition: 1s;
}

.expert_fourbox {
    position: relative;
}

.expert_fourbox:hover::after {
    content: 'James';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9rem;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
    height: 150px;
    background-color: rgba(163, 83, 10, 0.7);
    bottom: 0;
    position: absolute;
    transition: 1s;
}

/* Styling fourth page*/

.contacts {
    display: flex;
    margin: 10rem 8rem 0 8rem;
}

.in_touch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 0 2rem;
    align-items: center;
}

.in_touch p {
    font-size: 3.2rem;
    display: inline-block;
    text-align: center;
    margin: 0;
    display: flex;
    max-width: 100%;
}

form {
    display: flex;
    width: 90%;
    background: rgba(229, 229, 229, 1);
    flex-direction: column;
    justify-content: end;
    margin: 0;
    align-self: center;
}

form input {
    margin: 1rem;
    height: 2.5rem;
    font-size: 1.9rem;
    border: none;
}

textarea {
    height: 209px;
    margin: 1rem;
    font-size: 1.9rem;
    border: none;
}

.map {
    display: flex;
    align-items: end;
    margin-top: 1rem;
    width: 40%;
}

#name {
    width: 38%;
}

#email {
    width: 49%;
}

.contact__information {
    display: flex;
    justify-content: center;
    margin-top: 0.7rem;
    font-size: 1.5rem;
    font-style: italic;
}

.contact__information>div {
    margin: 2rem;
}

#contacts__boxone {
    margin-left: 10rem;
}

#contacts__boxthree {
    margin-right: 10rem;
}

.contact__information p {
    margin: 0px;
    text-align: center;
}

.bolt__text {
    font-weight: bold;
    font-style: normal;
}

#instagram::before {
    content: url(../img/instagram__icon.svg);
    margin: 0.3rem;
}

#fb::before {
    content: url(../img/fb__icon.svg);
    margin: 0.3rem;
}

#twitter::before {
    content: url(../img/twitter__icon.svg);
    margin: 0.3rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Media Queries */

/* Media Query min-width:1640px */

@media (min-width:1640px) {
    body {
        width: 1640px;
        margin: auto;
    }
}

/* Media Query max-width:992px */

@media (max-width:992px) {
    :root {
        font-size: 14px;
    }

    body {
        min-width: 768px;
        overflow-x: hidden;
    }

    ul {
        flex-wrap: wrap;
    }

    li {
        margin-left: 0.2rem;
    }

    section {
        min-height: auto;
    }

    .gallery {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 1400px;
    }

    .left_part,
    .right_part,
    .left_partsecond,
    .right_partsecond {
        width: 50%;
    }

    .left {
        width: 50%;
        flex-direction: column;
    }

    .right {
        flex-direction: column-reverse;
        width: 50%;
    }

    .left_partsecond,
    .right_partsecond {
        animation-delay: 1s;
        opacity: 0;
    }

    .left_part,
    .right_part {
        animation-delay: 0s;
    }

    .left_partsecond {

        animation: animation__2left 1s linear 1 forwards;
        position: relative;
        animation-delay: 1s;
    }

    @keyframes animation__2left {

        from,
        to {
            top: 0%;
            left: -20%;
            opacity: 0;
        }

        100% {
            top: 0%;
            left: 0%;
            opacity: 1;
        }
    }

    .right_partsecond {
        margin-top: -8px;
        animation: animation__2right 1s linear 1 forwards;
        position: relative;
        animation-delay: 1s;
    }

    @keyframes animation__2right {

        from,
        to {
            top: 0%;
            right: -20%;
            opacity: 0;
        }

        100% {
            top: 0%;
            right: 0%;
            opacity: 1;
        }
    }

    .services {
        display: flex;
        flex-direction: column-reverse;
    }

    .services__list {
        width: 100%;
        margin-bottom: 0;
    }

    .services__bg {
        display: inline-block;
        width: 100%;
    }

    .photos {
        flex-wrap: wrap;
        height: initial;
    }

    .photos>div {
        width: 45%;
        margin: 1rem;
    }

    .contacts {
        flex-direction: column;
    }

    .in_touch {
        width: 100%;
        padding: 1rem 2rem 0 2rem;
    }

    .contacts {
        margin: 50px 3rem 3rem 3rem;
    }

    .map {
        margin-top: 50px;
        width: 100%;
        justify-content: center;
    }

    #contacts__boxone {
        margin-left: 1rem;
    }

    #contacts__boxtwo {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #contacts__boxthree {
        margin-right: 1rem;
    }
}

/* Media Query max-width:768px */

@media (max-width:768px) {
    body {
        min-width: 600px;
        overflow-x: hidden;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        text-align: center;
        background-color: black;
        opacity: 0.7;
        justify-content: end;
        margin-top: 128px;
        width: 180px;
        padding-left: 0.5rem;
    }

    li {
        margin-left: 0;
        text-align: center;
    }

    .menu_container {
        width: 12%;
        margin-right: 8%;
    }

    .menu_icon {
        opacity: 1;
    }

    .menu_container:hover .menu {
        display: block;
    }

    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
        max-height: none;
    }

    .left {
        width: 100%;
        flex-direction: column;
    }

    .right {
        flex-direction: column-reverse;
        width: 100%;
    }

    .left_partsecond {
        animation: animation__2left 0s linear 1 forwards;

    }

    .second {
        animation: animation__1right 1s linear 1 forwards;
        animation-delay: 1s;
        position: relative;
        opacity: 0;
    }

    .third {
        animation: animation__2left 1s linear 1 forwards;
        animation-delay: 2s;
        position: relative;
        opacity: 0;
    }

    .right {
        flex-direction: column;
        width: 100%;
    }

    .right_partsecond {
        animation: animation__2right 0s linear 1 forwards;
    }

    .fourth {
        animation: animation__2right 1s linear 1 forwards;
        animation-delay: 3s;
        position: relative;
        opacity: 0;
    }

    .fifth {
        animation: animation__2left 1s linear 1 forwards;
        animation-delay: 4s;
        position: relative;
        opacity: 0;
    }

    .right_part {
        animation-delay: 5s;
    }

    .services__bg {
        display: none;
    }

    .services__list {
        max-height: 768px;
    }

    .contacts {
        flex-direction: column-reverse;
    }

    .photos {
        flex-wrap: wrap;
        height: initial;
    }

    .photos>div {
        width: auto;
    }

    .contact__information {
        flex-wrap: wrap;
    }

    #contacts__boxone,
    #contacts__boxtwo {
        width: 40%;
    }

    #contacts__boxthree {
        width: 80%;
    }

}