html {
    font-size: 16px;
    background-color: #F5F5F5;
    font-family: 'Inconsolata', monospace;
    font-family: 'M PLUS 1', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0%;
}

.main-menu {
    position: sticky;
    z-index: 1;
    top: 0;
    min-width: 1400px;
    background-color: rgba(36, 59, 147, 1);
    display: flex;
    justify-content: center;
    height: 70px;
    margin: auto;
}

.main-menu div {
    font-size: 1.2rem;
    color: white;
    width: 10%;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
}

.main-menu img {
    height: 55px;
    align-self: center;
    margin-left: 20px;
}

#ua {
    text-align: left;
    font-size: 2rem;
    margin: 2px;
    width: auto
}

.booking {
    background-color: rgba(191, 240, 255, 1);
    height: 85px;
    color: rgba(32, 40, 70, 1);
    font-size: 2.5rem;
}

.booking div {
    height: 100%;
    width: 65%;
    padding: 15px 0;
    font-style: oblique;
    margin: auto;
}

.location {
    background-color: white;
    color: rgba(0, 0, 0, 0.61);
    font-size: 1.5rem;
    text-align: center;
    width: 65%;
    padding: 10px;
    margin: 20px auto;
}

.place {
    position: relative;
    width: 65%;
    display: flex;
    margin: 40px auto;
    background: linear-gradient(to right, #ADCBD4, 50%, #00AEE5);

}

.place img {
    margin: 33px 52px 21px;
    height: 250px;
}

.place h3 {

    max-width: 90%;
    color: rgba(53, 60, 87, 1);
    font-size: 2rem;
    border-bottom: 4px solid white;
    margin-bottom: 0;
    font-style: italic;
}

.place p {

    display: inline-block;
    color: rgba(32, 40, 70, 1);
    max-width: 90%;
    background-color: white;
    font-size: 1.2rem;
    height: 170px;
    padding: 10px 100px 10px 10px;
    overflow: auto;
}

.description {
    max-width: 90%;
}

.button {
    position: absolute;
    right: -20px;
    bottom: 10px;
    font-size: 1.2rem;
    background-color: #243B93;
    color:
        rgba(255, 255, 255, 1);
    height: 50px;
    width: 200px;
    border-radius: 30px;
}

svg {
    position: absolute;
    width: 48px;
    right: 10px;
    top: 10px;

}

.place:hover {
    box-shadow: 10px 10px 30px #00AEE5;
    background: #00AEE5;

}

.place:hover .button {
    background: red;
    border: red;

}

.place:hover path {
    fill: yellow;

}

.arrow {
    position: fixed;
    bottom: 50px;
    left: 1650px;
    background-color: rgba(48, 12, 106, 0.3);
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.arrow img {

    width: 40px;
    text-align: center;
    margin: 30px 55px;
}

.arrow:hover {
    background-color: rgba(48, 12, 106, 0.7)
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(191, 240, 255, 1);
}