body {
    margin: 0 auto;
    padding: 0.5rem 2rem;
    
}
ul {
    display: flex;
    flex-direction: column;
    margin: auto;
}
li {
    list-style: none;
    position: relative;
   
}

li::before {
    content: "♫";
    height: 15px;
    width: 15px;
    position: absolute;
    left: -15px;
}


