:root {
  font-size: 20px;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(51, 51, 51)), to(rgb(9, 7, 7)));
  background: linear-gradient(rgb(51, 51, 51), rgb(9, 7, 7));
  background-repeat: no-repeat;
  padding: 1rem;
  max-width: 1240px;
  min-width: 360px;
  margin: 0 auto;
  color: white;
  overflow-x: hidden;
}
body nav {
  background: none;
  color: rgb(255, 255, 255);
  font-size: 0.7rem;
}
body nav .container-fluid ul {
  width: 100%;
}
body nav .container-fluid ul a {
  color: rgb(255, 255, 255);
}
body nav .container-fluid ul a:hover {
  color: rgb(255, 255, 255);
  scale: 1.2;
}
body nav .container-fluid ul a:visited {
  color: rgb(255, 255, 255);
  scale: 1.2;
}
body nav .container-fluid ul button {
  font-size: 0.7rem;
}
body #slider {
  min-height: 348px;
}
body #sizing_p {
  font-size: 3.75rem;
}
body .cards_one .shadow_card {
  -webkit-box-shadow: 2px 2px 10px black;
          box-shadow: 2px 2px 10px black;
}
body .cards_one p {
  font-size: 0.9rem;
}
body #card_one {
  background-color: rgb(201, 100, 8);
  min-height: 277px;
  height: 100%;
}
body #card_two {
  background-color: rgb(121, 55, 187);
  min-height: 277px;
  height: 100%;
}
body #card_three {
  background-color: rgb(55, 117, 237);
  min-height: 277px;
  height: 100%;
}
body .tools {
  background-color: rgb(51, 51, 51);
  min-height: 347px;
  position: relative;
}
body .tools .tool {
  position: absolute;
}
body .tools .icon_one {
  top: 60%;
  left: 2%;
}
body .tools .icon_two {
  top: 3%;
  left: 10%;
}
body .tools .icon_three {
  top: 75%;
  left: 25%;
}
body .tools .icon_four {
  top: 5%;
  left: 50%;
}
body .tools .icon_five {
  top: 75%;
  left: 65%;
}
body .tools .icon_six {
  top: 7%;
  left: 75%;
}
body .tools .icon_seven {
  top: 65%;
  left: 85%;
}
body .tools .icon_eight {
  top: 15%;
  left: 88%;
}
body .developers {
  height: 304px;
  padding: 0;
  border-radius: 10px;
  border: 1px;
  background-size: 100%;
  background-repeat: no-repeat;
}
body .card_text {
  width: 100%;
  background-color: rgba(9, 7, 7, 0.6);
  position: absolute;
  bottom: 0%;
}
body #developer_one {
  background-image: url(../img/dev1.png);
}
body #developer_two {
  background-image: url(../img/dev2.png);
}
body #developer_three {
  background-image: url(../img/dev3.png);
}
body #developer_four {
  background-image: url(../img/dev4.png);
}
body #developer_five {
  background-image: url(../img/dev5.png);
}
body #developer_six {
  background-image: url(../img/dev6.png);
}
body .messages {
  background-color: rgba(51, 51, 51, 0.5);
  height: 100%;
}
body .messages .user_one::before {
  content: "";
  position: absolute;
  background-image: url(../img/user1.png);
  left: 4%;
  height: 30px;
  width: 30px;
}
body .messages .user_two::before {
  content: "";
  position: absolute;
  background-image: url(../img/user2.png);
  left: 4%;
  height: 30px;
  width: 30px;
}
body .messages .user_three::before {
  content: "";
  position: absolute;
  background-image: url(../img/user3.png);
  left: 4%;
  height: 30px;
  width: 30px;
}
body .messages .user_four::before {
  content: "";
  position: absolute;
  background-image: url(../img/user4.png);
  left: 4%;
  height: 30px;
  width: 30px;
}
body .messages .user_five::before {
  content: "";
  position: absolute;
  background-image: url(../img/user5.png);
  left: 4%;
  height: 30px;
  width: 30px;
}
body .messages .user_six::before {
  content: "";
  position: absolute;
  background-image: url(../img/user6.png);
  left: 4%;
  height: 30px;
  width: 30px;
}
body .messages .user_seven::before {
  content: "";
  position: absolute;
  background-image: url(../img/user7.png);
  left: 4%;
  height: 30px;
  width: 30px;
}
body .messages .user_eight::before {
  content: "";
  position: absolute;
  background-image: url(../img/user8.png);
  left: 4%;
  height: 30px;
  width: 30px;
}
body .messages .user_nine::before {
  content: "";
  position: absolute;
  background-image: url(../img/user9.png);
  left: 4%;
  height: 30px;
  width: 30px;
}
body .enjoy_life_bg {
  background: url(../img/enjoy\ life.png);
  height: 480px;
  max-width: 1200px;
  margin: auto;
  position: relative;
}
body .enjoy_life_bg .enjoy_life {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}
body .enjoy_life_bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
body .join_clubweber {
  height: 291px;
  background: rgb(55, 117, 237);
  width: 100%;
}
body .border_white {
  border-color: white;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
  .tools {
    height: 400px;
  }
  .tools .tool {
    width: 40px;
  }
  #slider img {
    -o-object-position: -250px;
       object-position: -250px;
  }
}