:root {
    font-size: 20px;
}

body {
    background: linear-gradient(rgba(51, 51, 51, 1), rgba(9, 7, 7, 1));
    background-repeat: no-repeat;
    padding: 1rem;
    max-width: 1240px;
    min-width: 360px;
    margin: 0 auto;
    color: white;
    overflow-x: hidden;

    nav {
        background: none;
        color: rgba(255, 255, 255, 1);
        font-size: 0.7rem;

        .container-fluid {

            ul {
                width: 100%;

                a {
                    color: rgba(255, 255, 255, 1);
                }

                a:hover {
                    color: rgba(255, 255, 255, 1);
                    scale: 1.2;
                }

                a:visited {
                    color: rgba(255, 255, 255, 1);
                    scale: 1.2;
                }

                button {
                    font-size: 0.7rem;
                }

            }
        }
    }

    #slider {
        min-height: 348px;
    }

    #sizing_p {
        font-size: 3.75rem;
    }

    .cards_one {

        .shadow_card {
            box-shadow: 2px 2px 10px black;
        }

        p {
            font-size: 0.9rem;
        }
    }

    #card_one {
        background-color: rgba(201, 100, 8, 1);
        min-height: 277px;
        height: 100%;
    }

    #card_two {
        background-color: rgba(121, 55, 187, 1);
        min-height: 277px;
        height: 100%;
    }

    #card_three {
        background-color: rgba(55, 117, 237, 1);
        min-height: 277px;
        height: 100%;
    }

    .tools {
        background-color: rgba(51, 51, 51, 1);
        min-height: 347px;
        position: relative;

        .tool {
            position: absolute;
        }

        .icon_one {
            top: 60%;
            left: 2%;
        }

        .icon_two {
            top: 3%;
            left: 10%;
        }

        .icon_three {
            top: 75%;
            left: 25%;
        }

        .icon_four {
            top: 5%;
            left: 50%;
        }

        .icon_five {
            top: 75%;
            left: 65%;
        }

        .icon_six {
            top: 7%;
            left: 75%;
        }

        .icon_seven {
            top: 65%;
            left: 85%;
        }

        .icon_eight {
            top: 15%;
            left: 88%;
        }
    }


    .developers {
        height: 304px;
        padding: 0;
        border-radius: 10px;
        border: 1px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .card_text {
        width: 100%;
        background-color: rgba(9, 7, 7, 0.6);
        position: absolute;
        bottom: 0%;

    }

    #developer_one {
        background-image: url(../img/dev1.png);
    }

    #developer_two {
        background-image: url(../img/dev2.png);
    }

    #developer_three {
        background-image: url(../img/dev3.png);
    }

    #developer_four {
        background-image: url(../img/dev4.png);
    }

    #developer_five {
        background-image: url(../img/dev5.png);
    }

    #developer_six {
        background-image: url(../img/dev6.png);
    }

    .messages {
        background-color: rgba(51, 51, 51, 0.5);
        height: 100%;

        .user_one::before {
            content: "";
            position: absolute;
            background-image: url(../img/user1.png);
            left: 4%;
            height: 30px;
            width: 30px;
        }

        .user_two::before {
            content: "";
            position: absolute;
            background-image: url(../img/user2.png);
            left: 4%;
            height: 30px;
            width: 30px;
        }

        .user_three::before {
            content: "";
            position: absolute;
            background-image: url(../img/user3.png);
            left: 4%;
            height: 30px;
            width: 30px;
        }

        .user_four::before {
            content: "";
            position: absolute;
            background-image: url(../img/user4.png);
            left: 4%;
            height: 30px;
            width: 30px;
        }

        .user_five::before {
            content: "";
            position: absolute;
            background-image: url(../img/user5.png);
            left: 4%;
            height: 30px;
            width: 30px;
        }

        .user_six::before {
            content: "";
            position: absolute;
            background-image: url(../img/user6.png);
            left: 4%;
            height: 30px;
            width: 30px;
        }

        .user_seven::before {
            content: "";
            position: absolute;
            background-image: url(../img/user7.png);
            left: 4%;
            height: 30px;
            width: 30px;
        }

        .user_eight::before {
            content: "";
            position: absolute;
            background-image: url(../img/user8.png);
            left: 4%;
            height: 30px;
            width: 30px;
        }

        .user_nine::before {
            content: "";
            position: absolute;
            background-image: url(../img/user9.png);
            left: 4%;
            height: 30px;
            width: 30px;
        }
    }

    .enjoy_life_bg {
        background: url(../img/enjoy\ life.png);
        height: 480px;
        max-width: 1200px;
        margin: auto;
        position: relative;

        .enjoy_life {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
        }
    }

    .enjoy_life_bg::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 2;
    }

    .join_clubweber {
        height: 291px;
        background: rgba(55, 117, 237, 1);
        width: 100%;
    }

.border_white {
    border-color: white;
}
}

@media (max-width:768px) {
    :root {
        font-size: 14px;
    }

    .tools {

        height: 400px;

        .tool {
            width: 40px;
        }
    }

    #slider {
        img {
            object-position: -250px;
        }
    }
}