:root {
    font-size: 70px;
    font-family: 'Inconsolata', monospace;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.content {
    background-color: black;
    width: 600px;
    height: 700px;
    margin: auto;
    padding: 30px 30px 100px 30px;
}


p {
    text-align: center;
    letter-spacing: 25px;
    margin: 50px auto 50px;
}

.dimond {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border-color: white;
    border-style: solid;
    padding: 40px 30px 20px 30px;
    margin: auto;
}

img {
    width: 100%;
    height: 150px;

}

.link {
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    border: 5px solid white;
    font-size: 0.4rem;
    padding-top: 20px;
    width: 70%;
    height: 50px;
    font-size: 0.4rem;
    text-transform: uppercase;
    letter-spacing: normal;
    margin: 20px auto;
}

.link:hover {
    border: 5px solid rgb(134, 134, 231);
    color: rgb(134, 134, 231);
}