:root {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body {
    margin-top: 0;
    width: 1200px;
    margin: auto;
    background: #F5F5F5;
    margin-bottom: 5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-weight: 700;
}

.header>span {
    font-size: 1.9rem;
}

input {
    height: 50px;
    width: 500px;
    border-radius: 10px;
    padding-left: 40px;
    border: none;
    box-shadow: 0 0 8px 0;
    background-image: url(../img/icon__search.svg);
    background-repeat: no-repeat;
    background-position-y: 11px;
    background-position-x: 5px;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: end;
    overflow: hidden;
    box-shadow: #A1A1A1 0px 5px 10px 0px;
    position: relative;
}

.rest__one {
    background-image: url(../img/pic.png);
    background-size: 100%;
}

.rest__two {
    background-image: url(../img/pic\ \(1\).png);
}

.rest__three {
    background-image: url(../img/pic\ \(2\).png);
}

.rest__four {
    background-image: url(../img/pic\ \(3\).png);
    background-size: 100%;
}

.rest__five {
    background-image: url(../img/pic\ \(4\).png);
}

.rest__six {
    background-image: url(../img//pic\ \(5\).png);
}

.rest__seven {
    background-image: url(../img/pic\ \(6\).png);
    background-size: 100%;
}

.rest__eight {
    background-image: url(../img/pic\ \(7\).png);
}

.rest__nine {
    background-image: url(../img/pic\ \(8\).png);
}

.rest__ten {
    background-image: url(../img/pic\ 12.png);
    background-size: 100%;
}

.rest__eleven {
    background-image: url(../img/pic\ 11.png);
}

.rest__twelve {
    background-image: url(../img/pic\ 10.png);
}

.rest__thirteen {
    background-image: url(../img/pic\ \(9\).png);
    background-size: 100%;
}

.rest__fourteen {
    background-image: url(../img/pic\ \(10\).png);
    background-size: 100%;
}

.rest__fifteen {
    background-image: url(../img/pic\ \(11\).png);
}

.rest__sixteen {
    background-image: url(../img/pic\ \(12\).png);
}

.rest__seventeen {
    background-image: url(../img/pic\ \(13\).png);
    background-size: 100%;
}


.card>span {
    display: inline-block;
    height: 92px;
    width: 100%;
    background-color: #FFFFFF;
    font-size: 1.2rem;
    padding: 0.5rem 1rem 1rem 1rem;
    box-sizing: border-box;
    position: relative;
}

.card>span::after {
    content: "";
    background-image: url(../img/time.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 108px;
    height: 100%;
    top: 50px;
    left: 20px;
}

.rest__one::before {
    content: "популярне";
    background: #FF800C;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    width: 139px;
    height: 39px;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 0.7rem;
    padding-top: 10px;
    box-sizing: border-box;
}

.rest__two::before {
    content: "безкоштовна доставка";
    background: rgba(255, 12, 12, 1);
    text-transform: uppercase;
    text-align: left;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    width: 139px;
    height: 60px;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 0.7rem;
    padding-top: 10px;
    box-sizing: border-box;
}

.rest__four::before {
    content: "безкоштовна доставка";
    background: rgba(255, 12, 12, 1);
    text-transform: uppercase;
    text-align: left;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    width: 139px;
    height: 60px;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 0.7rem;
    padding-top: 10px;
    box-sizing: border-box;
}

.rest__three::before {
    content: "крильця в подарунок";
    background: rgba(255, 12, 12, 1);
    text-transform: uppercase;
    text-align: left;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    width: 239px;
    height: 33px;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 0.7rem;
    padding-top: 10px;
    box-sizing: border-box;
}


.card>span::before {
    content: "";
    background-image: url(../img/delivery.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 108px;
    height: 100%;
    bottom: -49px;
    left: 140px;
}


.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 220px;
    gap: 1rem;
}

.rest__one:hover {
    grid-column: 1/3;
    grid-row: 1/3;

}


.rest__four:hover {
    grid-column: 1/3;
    grid-row: 2/4;

}

.rest__seven:hover {
    grid-column: 1/3;
    grid-row: 3/5;

}

.rest__ten:hover {
    grid-column: 1/3;
    grid-row: 4/6;

}

.rest__thirteen:hover {
    grid-column: 1/3;
    grid-row: 5/7;

}

.rest__fourteen:hover {
    grid-column: 1/3;
    grid-row: 1/3;
}

.rest__seventeen:hover {
    grid-column: 1/3;
    grid-row: 2/4;

}