:root {
    font-size: 20px;
    --white: rgba(255, 252, 252, 1);
    font-family: 'Rosario', sans-serif;
}

body {
    margin: 0;
    min-width: 1650px;
    font-style: italic;
}

.screen {
    min-height: 100vh;
    border: 1px solid white;
    box-sizing: border-box;
}

/* header style */
.header__container {
    height: 129px;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.logo__bg {
    background-color: var(--white);
    height: 100%;
    display: inline-block;
}

.logo__bg>img {
    height: 100%;
    border-bottom: 1px solid var(--white);
}


ul {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.9rem;
}



/* Styling first page */
.gallery {
    display: flex;
    flex-direction: row;
    margin: 130px 0.2rem 0.2rem 0.2rem;
    min-height: 100%;
}

.galery>div {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.gallery img {
    max-width: 90%;
    margin: 1rem;
}

.left_part,
.right_part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.left_partsecond,
.right_partsecond {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.left_part {
    animation: animation__1left 1s linear 1 forwards;
    position: relative;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes animation__1left {

    from,
    to {
        top: 0%;
        left: -20%;
        opacity: 1;
    }

    100% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
}

.right_part {
    animation: animation__1right 1s linear 1 forwards;
    position: relative;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes animation__1right {
    from,
    to {
        top: 0%;
        right: -20%;
        opacity: 1;
    }

    100% {
        top: 0%;
        right: 0%;
        opacity: 1;
    }
}

/* @keyframes animation__1right {
    from,
    to {
        top: 0%;
        right: -20%;
        display: none;
    }

    100% {
        top: 0%;
        right: 0%;
        display: flex;
    }
} */

.left_partsecond {
    animation: animation__2left 1s linear 1;
    position: relative;
}

@keyframes animation__2left {
    from,
    to {
        top: 0%;
        left: -20%;
    }

    100% {
        top: 0%;
        left: 0%;
    }
}

.right_partsecond {
    animation: animation__2right 1s linear 1;
    position: relative;
}

@keyframes animation__2right {
    from,
    to {
        top: 0%;
        right: -20%;
    }

    100% {
        top: 0%;
        right: 0%;
    }
}

/* Styling second page */
.services {
    display: flex;
}

.services__list {
    width: 50%;
    margin-top: 50px;
}

.services__bg {
    display: inline-block;
    width: 50%;
    height: 100vh;
    background-image: url(../img/services_rightpart.png);
    background-position-x: right;
    background-repeat: no-repeat;
}

.services__list>div {
    display: flex;
    justify-content: space-around;
    margin: 1rem 2rem 0 2rem;
    font-size: 2.9rem;
    flex-wrap: wrap
}

.services__list p {
    margin: -1rem -1rem 0 -1rem;
    text-align: center;
}

.service__one {
    animation: animation__service1 20s linear infinite;
    position: relative;
}

@keyframes animation__service1 {

    from,
    to {

        top: 0;
        left: 0%;
    }

    25% {
        top: 0;
        left: 50%;
    }

    50% {

        top: 420px;
        left: 50%;
    }

    75% {
        top: 420px;
        left: 0%;
    }

    100% {
        top: 0;
        left: 0%;
    }
}

.service__two {
    animation: animation__service2 20s linear infinite;
    position: relative;
}

@keyframes animation__service2 {

    from,
    to {

        top: 0;
        left: 0%;
    }

    25% {
        top: 420px;
        left: 0%;
    }

    50% {

        top: 420px;
        left: -50%;
    }

    75% {
        top: 0px;
        left: -50%;
    }

    100% {
        top: 0;
        left: 0%;
    }
}

.service__three {
    animation: animation__service3 20s linear infinite;
    position: relative;
}

@keyframes animation__service3 {

    from,
    to {

        top: 0;
        left: 0%;
    }

    25% {
        top: -420px;
        left: 00%;
    }

    50% {

        top: -420px;
        left: 50%;
    }

    75% {
        top: 0px;
        left: 50%;
    }

    100% {
        top: 0;
        left: 0%;
    }
}

.service__four {
    animation: animation__service4 20s linear infinite;
    position: relative;
}

@keyframes animation__service4 {

    from,
    to {

        top: 0;
        left: 0%;
    }

    25% {
        top: -0px;
        left: -50%;
    }

    50% {

        top: -420px;
        left: -50%;
    }

    75% {
        top: -420px;
        left: 0%;
    }

    100% {
        top: 0;
        left: 0%;
    }
}

/* Styling third page */
.team>p {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.photos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
    height: 671px;
}


.photos>div {
    background-color: black;
    display: flex;
    border-radius: 40px;
    align-items: center;
    width: 400px;
    height: 100%;
    overflow: hidden;
}

.photos img {
    width: 100%;
}


.photos:hover img {
    opacity: 0.5;
}

.photos>div:hover img {
    opacity: 1;
}

.expert_onebox {
    position: relative;
}

.expert_onebox:hover::after {
    content: 'Meredith';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9rem;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 400px;
    height: 150px;
    background-color: rgba(163, 83, 10, 0.7);
    bottom: 0;
    position: absolute;
    transition: 1s;
}

.expert_twobox {
    position: relative;
}

.expert_twobox:hover::after {
    content: 'Jason';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9rem;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 400px;
    height: 150px;
    background-color: rgba(163, 83, 10, 0.7);
    bottom: 0;
    position: absolute;
    transition: 1s;
}

.expert_threebox {
    position: relative;
}

.expert_threebox:hover::after {
    content: 'Ryan';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9rem;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 400px;
    height: 150px;
    background-color: rgba(163, 83, 10, 0.7);
    bottom: 0;
    position: absolute;
    transition: 1s;
}

.expert_fourbox {
    position: relative;
}

.expert_fourbox:hover::after {
    content: 'James';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9rem;
    color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 400px;
    height: 150px;
    background-color: rgba(163, 83, 10, 0.7);
    bottom: 0;
    position: absolute;
    transition: 1s;
}

/* Styling fourth page*/

.contacts {
    display: flex;
    margin: 10rem 8rem 0 8rem;
}

.in_touch {
    width: 60%;
    padding: 0 2rem;
}

.in_touch p {
    font-size: 3.2rem;
    text-align: center;
    margin: 0;
    display: flex;
}

form {
    display: flex;
    width: 90%;
    background: rgba(229, 229, 229, 1);
    flex-direction: column;
    justify-content: end;
    margin: 0;
}

form input {
    margin: 1rem;
    height: 2.5rem;
    font-size: 1.9rem;
    border: none;
}

textarea {
    height: 209px;
    margin: 1rem;
    font-size: 1.9rem;
    border: none;
}

.map {
    display: flex;
    align-items: end;
    margin-top: 1rem;
    width: 40%;
}

#name {
    width: 38%;
}

#email {
    width: 49%;
}

.contact__information {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}

.contact__information>div {
    margin: 2rem;
}

#contacts__boxone {
    margin-left: 10rem;
}

#contacts__boxthree {
    margin-right: 10rem;
}

.contact__information p {
    margin: 0px;
    text-align: center;
}

.bolt__text {
    font-weight: bold;
    font-style: normal;
}

#instagram::before {
    content: url(../img/instagram__icon.svg);
    margin: 0.3rem;
}

#fb::before {
    content: url(../img/fb__icon.svg);
    margin: 0.3rem;
}

#twitter::before {
    content: url(../img/twitter__icon.svg);
    margin: 0.3rem;
}

a {
    text-decoration: none;
    color: inherit;
}