body {
    margin: 0;
    font-size: 20px;
}

.entrance {
    min-width: 700px;
    max-width: 1400px;
    min-height: 850px;
    background-color: rgba(0, 17, 36, 1);
    margin: auto;
    display: flex;
    align-items: center;
}

.entrance>img {
    display: inline-block;
    max-height: 600px;
    width: 50%;
    height: 90%;
    font-size: 20px;
}

.login {
    width: 50%;
    color: white;
    padding: 0 0 0 10%;
    min-height: 450px;
}

h2 {
    font-size: 3rem;
    margin: 1rem 0;
}

label {
    font-size: 1rem;
}

P {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

input {
    height: 43px;
    width: 361px;
}

#button__login,
#button__registration {
    margin-top: 30px;
    background: rgba(1, 95, 199, 1);
    width: 180px;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
}

#button__registration {
    margin: 20px 0 0 90px;
}

.link {
    text-decoration: none;
    color: rgba(73, 159, 254, 1);
}
