:root {
    font-size: 30px;
    min-width: 800px;
    max-width: 1600px;
    margin: auto;
    font-family: 'M PLUS 1', sans-serif;

}
body {
    margin:0;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    color: #3E45E8;
    margin: 40px 0 0 0;
}

span {
    color: #E8C23E;
}

.poem {
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
    min-height: 800px;
    position: relative;
}

.poem:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: 1;
}

pre {
    display: inline-block;
    margin: 200px 0 0 30px;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    height: 100%;
    line-height: 1.5;
    position: relative;
    color: white;
    z-index: 2;
}

.flag1 {
    display: inline-block;
    height: 280px;
    width: 20px;
    margin: 200px 0 0 80px;
    background: linear-gradient(to bottom, #00E0FF, 30%, #1400FF 50%, #FFA800 50%, #FFF500);
    position: relative;
    color: white;
    z-index: 2;

}

.flag2 {
    height: 10px;
    width: 600px;
    background: linear-gradient(to right, #00E0FF, 20%, #1400FF 50%, #FFA800 50%, #FFF50000);
    margin-bottom: 50px;
}

.cards {
    padding: 0 10%;
    text-align: center;
}

.card {
    text-align: left;
    display: inline-block;
    border: 5px solid #0D095F;
    border-radius: 35px;
    width: 29%;
    vertical-align: top;
    min-height: 500px;
    max-height: 800px;
}

.card-margin {
    margin: 0 3%;
    box-shadow: 0px 10px 30px #7eb3e6;
}

.card-title {
    color: #0072DB;
    font-size: 0.9rem;
    padding: 0 6px;
}

.description {
    color: #FF9900;
    font-size: 0.8rem;
    padding: 0 6px;
}

h2 {
    text-transform: uppercase;
}

.card>img {
    width: 100%;
}

#card1 {
    box-shadow: -10px 10px 30px #7eb3e6;
}

#card3 {
    box-shadow: 10px 10px 30px #7eb3e6;
}

.ukraine {
    text-align: center;
    width: 60%;
    border-bottom: 5px solid #1400FF;
    margin: auto;
}

.ukraine-img {
    text-align: center;
    margin: 20px;
}

button {
    border: none;
    width: 350px;
    height: 80px;
    border-radius: 50px;
    padding: 10px 25px;
    background: #2A61F0;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    display: block;
    margin: auto;
}

button:active {
    color: rgb(16, 224, 224);
}

.contacts {
    background: linear-gradient(to bottom, #013235, 50%, #0D0661);
    text-align: center;
    height: 230px;
    margin-top: 20px;
}

a {
    color: #A89D9D;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}