body {
    margin: 0;
    padding: 0;
    color: #171717;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
  } 

.title {
    margin: 10%;
    font-weight: 700;
}

form {
    min-width: 700px;
    max-width: 1200px; 
    background: #F9F9F9;
    margin: auto;
} 

.section {
    width: 100%;
    display: flex;
    border-bottom: solid 1px;
    border-image: linear-gradient(to right, #F9F9F9 5%, #D1D1D1 5% 95%, #F9F9F9 95%) 1;
    padding-bottom: 32px;
}

.block {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0% 5%;
}

h2 {
    display: inline-block;
    margin: 5%;
}

h3 {
    margin: 3% 5%;
}


input,
select {
    height: 40px;
    font-size: 1rem;
    border-radius: 4px;
    padding: 0;
    border: solid 1px #D1D1D1;
}

p {
    margin-bottom: 8px;
}

span {
    margin: 5%;
}

.question__checkbox {
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

label {
    display: flex;
    align-items: center;
}

[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

[type="checkbox"]:checked+label::before {
    background-image: url(../img/logo.svg);
    background-size: 104%;
    border: 3px solid #FF00FF;
    width: 25px;
    height: 25px;
    border-radius: 0.25em;
}

input[type="search"] {
    background-image: url(../img/Magnifying_glass_icon.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: right 2% bottom 50%;
}

.background__arrow {
    background-image: url(../img/arrow.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: right 2% bottom 50%;
}

.purged_margin {
    margin: 120px 0 25px 0;
}

.colour__red {
    color: red;
    margin: 0%;
}

.container__button {
    display: flex;
    justify-content: end;
}

#button__registration {
    height: 40px;
    width: 70px;
    background-color: #0050D8;
    color: white;
    border: #0050D8;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 3rem;
}

#application__registration, #owner {
    color: #0050D8;
    }